<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
            <ion-list>
                <ion-list-header>
                    All Users
                  </ion-list-header>
                <ion-item *ngFor="let item of userlist|async; let i=index">
                    <ion-avatar slot="start">
                      <img src="./avatar-finn.png">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{item.username}}</h2>
                      <small>{{item.age}}</small>
                      <p> <b>Height :</b>{{item.height}} <b>Weight :</b>{{item.weight}} </p>
                    </ion-label>
                  </ion-item>
            </ion-list>
            <ion-list>
                <ion-list-header>
                    Add new Users
                  </ion-list-header>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">User Name</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">email_id</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Date of birth</ion-label>
            <ion-datetime displayFormat="MMM DD YY" formControlName="dateofbirth"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Weight</ion-label>
          <ion-input formControlName="weight"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Height</ion-label>
          <ion-input formControlName="height"></ion-input>
        </ion-item>
        <ion-button color="primary" type="submit" [disabled]="!profileForm.valid">Add user</ion-button>
      </form>
</ion-list>
</ion-content>
