<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="dietForm">
    <ion-item>
        <ion-label position="floating">User Name</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Dismiss" (ionChange)="changeUser($event)" formControlName="username">
            <ion-select-option *ngFor="let item of userlist|async" [value]="item.username"><pre>{{item.username}}</pre></ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label positon="floating">
        From
      </ion-label>
      <ion-datetime displayFormat="MMM DD YY" formControlName="from"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label positon="floating">
        To
      </ion-label>
      <ion-datetime displayFormat="MMM DD YY" formControlName="to"></ion-datetime>
    </ion-item>
    <ion-list formArrayName="schedule" *ngFor="let item of dietForm.get('schedule').controls;let i=index;">
      <ion-list [formGroupName]="i">
          <ion-list-header>
              Group {{i}}
            </ion-list-header>
        <ion-item >
          <ion-label positon="floating">Title</ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>
        <ion-item >
          <ion-label positon="floating">Start Time</ion-label>
          <ion-datetime displayFormat="h m A" formControlName="start_time"></ion-datetime>
        </ion-item>
        <ion-item >
          <ion-label positon="floating">End Time</ion-label>
          <ion-datetime displayFormat="h m A" formControlName="end_time"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-list>
    <ion-button expand="block" (click)="addGroup()">Add Group</ion-button>
    <ion-button expand="block" (click)="addDiet()">Add Diet</ion-button>
  </form>
</ion-content>
